<a href="https://colab.research.google.com/github/jh868/Python/blob/main/DataScience/day3_3(%ED%8C%A8%ED%82%A4%EC%A7%80_%EB%B0%8F_%EC%A0%84%EC%B2%98%EB%A6%AC_%EB%A7%9B%EB%B3%B4%EA%B8%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 패키지

In [ ]:
# 수치해석, 백터화 연산, 수학 기본 모든 연산
import numpy as np

# 함수, 미적분, 통계적인 전반적으로 모든 연산을 도와주는 패키지
import scipy as sp

# 데이터 프레임 클래스 (R 데이터 프레임 자료형) 머신러닝 데이터 분석이 필수
import pandas as pd

# Matlab 그 장점을 파이썬에 사용할 수 있게 만들주는 패키지
import matplotlib as mpl
import matplotlib.pyplot as plt

# matplotlib에서 지원하지 않는 고급 시각화 고급차트
import seaborn as sns

# 회귀 분석, 선형 회귀, 시계열 분석 등등 분석 기능을 제공하는 패키지 
import statsmodels.api as sm

# 머신러닝, 지도학습, 비지도학습, 데이터셋 기능들을 제공하는 패키지
import sklearn as sk

# 데이터 전처리, 누락된 데이터를 찾고 시각화를 할 수 있는 패키지
import missingno as msno

# patsy 데이터 프레임을 다루는 기능 제공하는 패키지
# statsmodels
import patsy

## 전처리 맛보기

In [ ]:
%%writefile sample.csv
x1,x2,x3,x4,x5
,a,0.1,철수,2022-11-24
,b,0.2,영희,
3,c,0.3,,2022-11-26
4,d,0.4,은희,2022-11-27
5,,0.5,지우,2022-11-28
6,f,0.6,이슬,2022-11-29

In [ ]:
import pandas as pd
df = pd.read_csv('sample.csv')

In [ ]:
df

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
# msno를 이용하여 결측치를 시각화
msno.matrix(df)
plt.show()

In [ ]:
# bar 형태로 시각화
msno.bar(df)
plt.show()

In [ ]:
titanic = sns.load_dataset('titanic')

In [ ]:
titanic.head()

In [ ]:
titanic.info()

In [ ]:
msno.matrix(titanic)

In [ ]:
msno.bar(titanic)
plt.show()

In [ ]:
titanic.dropna().head()

In [ ]:
titanic.dropna(axis=1).head()

In [ ]:
titanic.dropna(thresh=10, axis=1).head()

In [ ]:
from sklearn.impute import SimpleImputer # 결측치 채우기
# mean 평균, median 중앙값, most_frequent 최빈값
imputer = SimpleImputer(strategy='most_frequent')
titanic = pd.DataFrame(imputer.fit_transform(titanic), columns=titanic.columns)
titanic

In [ ]:
msno.matrix(titanic)
plt.show()