<a href="https://colab.research.google.com/github/jh868/Python/blob/main/DataScience/day4(%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 전처리

In [ ]:
!pip install koreanize-matplotlib

In [ ]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import koreanize_matplotlib as mpl
import seaborn as sns
import missingno as msno

In [ ]:
%%writefile sample.csv
x1,x2,x3,x4,x5
,a,0.1,철수,2022-11-24
,b,0.2,영희,
3,c,0.3,,2022-11-26
4,d,0.4,은희,2022-11-27
5,,0.5,지우,2022-11-28
6,f,0.6,이슬,2022-11-29

In [ ]:
df = pd.read_csv('sample.csv')
df

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
msno.matrix(df)

In [ ]:
msno.bar(df)

In [ ]:
titanic = sns.load_dataset('titanic')
titanic.head()

In [ ]:
titanic.info()

In [ ]:
msno.matrix(titanic)

In [ ]:
msno.bar(titanic)

In [ ]:
df.dropna()

In [ ]:
df

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=5) # 데이터가 5개가 아닌경우 제거

In [ ]:
df.dropna(thresh=4)

In [ ]:
titanic.isnull().sum()

In [ ]:
len(titanic)

In [ ]:
titanic = titanic.dropna(thresh=len(titanic)//2, axis=1) # 데이터가 절반이 안되는거 제거 (deck 제거)
titanic

In [ ]:
msno.matrix(titanic)

In [ ]:
from sklearn.impute import SimpleImputer

'''
strategy 종류
mean : 평균
median : 중앙값
most_frequent : 최빈값
'''
imputer = SimpleImputer(strategy='most_frequent')
df = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)
df

In [ ]:
sns.countplot(titanic.embark_town)
plt.title('titanic embark_town 데이터')

In [ ]:
imputer_embark_town = SimpleImputer(strategy='most_frequent')
titanic['embark_town'] = imputer_embark_town.fit_transform(titanic[['embark_town']])
titanic['embarked'] = imputer_embark_town.fit_transform(titanic[['embarked']])

In [ ]:
msno.matrix(titanic)

In [ ]:
sns.kdeplot(titanic.age)
plt.title('나이 분포')
plt.grid()
plt.show()

In [ ]:
imputer_age = SimpleImputer(strategy='median')
titanic['age'] = imputer_age.fit_transform(titanic[['age']])

msno.matrix(titanic)
plt.show()

In [ ]:
titanic['none_string'] = titanic['embark_town']

In [ ]:
titanic.head()

In [ ]:
titanic['none_string'][40:50] = np.nan

In [ ]:
msno.matrix(titanic)

In [ ]:
# 범주형 데이터의 경우 mean이나 median을 구할 수 없다.
#imputer_none_string = SimpleImputer(strategy='median')
#titanic['none_string'] = imputer_none_string.fit_transform(titanic[['none_string']]) # 평균을 구할 수 없기 때문에 오류남

## 데이터 프레임 다루기

In [ ]:
from patsy import demo_data
df = pd.DataFrame(demo_data('x1','x2','x3','x4','x5'))
df

In [ ]:
from patsy import dmatrix
dmatrix('x1 + 0', data=df)

In [ ]:
dmatrix('x1 + x2 + x3 +0', data=df)

In [ ]:
dmatrix('x1 + x2 + x3', data=df)

In [ ]:
dmatrix('x1 + np.log(np.abs(x2))', data=df)

In [ ]:
def five_times(x):
  return 5*x

dmatrix('five_times(x1)',data=df)

In [ ]:
dmatrix('x1 + x2 + x1:x2 + 0', data=df)

In [ ]:
dmatrix('x1 + x2 + x1*x2 + 0', data=df)

In [ ]:
dmatrix('x1 + x2 + x3+x4 + 0', data=df)

In [ ]:
dmatrix('x1 + x2 + I(x1+x2)+0', data = df)

In [ ]:
dmatrix('center(x1)+0',data=df)

In [ ]:
'''
center : 평균을 0으로 만들어 준다.
standardize : 평균을 0으로 하고 표준편차를 1로 스케일
'''
dmatrix('x1 + standardize(x1)', data=df)

In [ ]:
xs = dmatrix('standardize(x1)', data=df)

In [ ]:
xs.design_info.factor_infos

sklearn을 통해 데이터를 표준화 및 정규화를 진행

In [ ]:
X = np.arange(7).reshape(-1, 1)
X

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit_transform(X)

In [ ]:
X2 = np.vstack([X,[[10000]]])
X2

In [ ]:
scaler.fit_transform(X2)

In [ ]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
scaler.fit_transform(X2)

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=3, include_bias=False)
poly.fit_transform(X)

In [ ]:
from sklearn.preprocessing import FunctionTransformer

X = 90*np.arange(9).reshape(-1, 1)
X

In [ ]:
def sincos(X):
  x0 = np.sin(X*np.pi/180)
  x1 = np.cos(X*np.pi/180)
  X_new = np.hstack([x0,x1])
  return X_new

X2 = FunctionTransformer(sincos).fit_transform(X)

In [ ]:
X2

In [ ]:
plt.subplot(211)
plt.plot(X)
# plt.yticks(X.flatten())
plt.title('Degree')
plt.grid()
plt.subplot(212)
plt.plot(X2)
plt.title('Sin Cos')
plt.tight_layout()
plt.grid()
plt.show()

In [ ]:
X.flatten()